.task-container{
	text-align: center;
	.progress-bar-container{
		.row{
			margin-left:1em;
			margin-right:1em;
		}
		.progress {
			height:3.5em;
	    	margin: 0.5em 0;
	    	width: 100%;
	    	.progress-bar{
	    		width: 100%;
	    		line-height:3.5em;
	    	}
	    	.progress-bar.out-of-limit{
	    		background-color: red;
	    	}
	    	.zero-percent{
	    		line-height:3.5em;
	    	}
		}
    	.btn-primary{
    		min-width:6em;
    		margin: 0.5em;
    	}
    	.bar-selector{
    		height:2.5em;
    		margin: 0 0.5em;
    	}
	}
}