<div class="task-container">
	<h2>task</h2>
	<div class="progress-bar-container panel panel-default">
		<div class="row" ng-repeat="barItem in task.bars track by $index">
			<bar limit="task.limit" current-progress="barItem">
			</bar>
		</div>
		<div class="row">
			<select class="bar-selector" class="form-control" name="bar-selector" ng-options="option.label for option in task.barOptions track by option.id" ng-model="task.selectedOption">
				
			</select>
			<button type="button" class="btn btn-primary" ng-repeat="btnVal in task.buttons track by $index" ng-click="task.updateValue(btnVal)">{{btnVal}}</button>
		</div>
	</div>
</div>