<div class="progress">
	<div class="progress-bar" role="progressbar" aria-valuenow="bar.progress" aria-valuemin="0" aria-valuemax="bar.limit" ng-class="{ 'out-of-limit' : bar.isLimitCrossed }">{{bar.getPercent()}}</div>
	<span class="zero-percent" ng-if="bar.value == 0">{{bar.getPercent()}}</span>
</div>